In [232]:
%%capture capt
%run userAnalysis.ipynb
pd.options.mode.chained_assignment = None

In [233]:
movieRatings
movies_item = movies
movies_item = movies_item[['movieId','title']]
movies_item

      movieId                                     title
0       72998                                    Avatar
1       53125  Pirates of the Caribbean: At World's End
2      136020                                   Spectre
3       91529                     The Dark Knight Rises
4       93363                               John Carter
...       ...                                       ...
3399     2361                            Pink Flamingos
3400     4252                                The Circle
3401     4645                                      Cure
3402     8914                                    Primer
3403     3267                               El Mariachi

[3394 rows x 2 columns]

In [234]:
ratings_matrix_items = movieRatings.pivot_table(index=['movieId'],columns=['userId'],values='rating').reset_index(drop=True)
ratings_matrix_items.fillna( 0, inplace = True )
ratings_matrix_items.shape

(3394, 671)

In [235]:
ratings_matrix_items

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,...,0.0,4.0,3.5,0.0,0.0,0.0,0.0,0.0,4.0,5.0
1,0.0,4.0,0.0,4.0,0.0,0.0,3.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3389,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [236]:
from sklearn.metrics import pairwise_distances
movie_similarity = 1 - pairwise_distances(ratings_matrix_items.values, metric="cosine" )
np.fill_diagonal( movie_similarity, 0 ) #Filling diagonals with 0s for future use when sorting is done
ratings_matrix_items = pd.DataFrame( movie_similarity )
ratings_matrix_items

,0,1,2,3,4,5,6,7,8,9,...,3384,3385,3386,3387,3388,3389,3390,3391,3392,3393
0,0.000000,0.310689,0.328194,0.190222,0.170197,0.323016,0.349109,0.185447,0.304818,0.069941,...,0.031902,0.010088,0.031902,0.076528,0.031902,0.031902,0.059610,0.079755,0.085111,0.031902
1,0.310689,0.000000,0.282299,0.070908,0.167087,0.292487,0.213907,0.110895,0.395150,0.193054,...,0.076835,0.024297,0.076835,0.108420,0.076835,0.076835,0.000000,0.102446,0.018635,0.076835
2,0.328194,0.282299,0.000000,0.174079,0.280351,0.302430,0.439799,0.070777,0.318942,0.116850,...,0.072755,0.023007,0.072755,0.054753,0.072755,0.072755,0.000000,0.000000,0.017646,0.072755
3,0.190222,0.070908,0.174079,0.000000,0.074336,0.200522,0.285344,0.151400,0.063116,0.042547,...,0.127000,0.040161,0.127000,0.095577,0.127000,0.127000,0.000000,0.000000,0.030802,0.127000
4,0.170197,0.167087,0.280351,0.074336,0.000000,0.070714,0.182653,0.013714,0.125502,0.180230,...,0.000000,0.000000,0.000000,0.200749,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3389,0.031902,0.076835,0.072755,0.127000,0.000000,0.092257,0.080243,0.000000,0.037088,0.000000,...,1.000000,0.316228,1.000000,0.752577,1.000000,0.000000,0.000000,0.000000,0.242536,1.000000
3390,0.059610,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.725094,0.000000
3391,0.079755,0.102446,0.000000,0.000000,0.000000,0.131796,0.000000,0.000000,0.074176,0.295599,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3392,0.085111,0.018635,0.017646,0.030802,0.000000,0.022376,0.019462,0.000000,0.008995,0.000000,...,0.242536,0.076696,0.242536,0.182527,0.242536,0.242536,0.725094,0.000000,0.000000,0.242536
3393,0.031902,0.076835,0.072755,0.127000,0.000000,0.092257,0.080243,0.000000,0.037088,0.000000,...,1.000000,0.316228,1.000000,0.752577,1.000000,1.000000,0.000000,0.000000,0.242536,0.000000

In [237]:
def item_similarity(movieId): 
    inp=movies_item[movies_item['movieId']==movieId].index.tolist()
    inp=inp[0]
    score = ratings_matrix_items.iloc[inp]
    movies_item['similarity'] = np.array(score)
    movies_item.columns = ['movieId', 'title', 'similarity']

In [243]:
def recommendedMoviesAsperItemSimilarity(user_id):
    user_movie= movieRatings[(movieRatings.userId==user_id) & (movieRatings.rating > 4)]
    user_movie=user_movie['movieId'].iloc[0]
    item_similarity(user_movie)
    sorted_movies_as_per_userChoice=movies_item.sort_values(["similarity"], ascending = False )
    #sorted_movies_as_per_userChoice=sorted_movies_as_per_userChoice[sorted_movies_as_per_userChoice['similarity'] >=0.4]
    
    #print(sorted_movies_as_per_userChoice.index)
    user2Movies= ratings[ratings['userId']== user_id]['movieId']
    recommended_ids = []
    for movieId in sorted_movies_as_per_userChoice['movieId']:
        if movieId not in user2Movies:
              recommended_ids.append(movieId)
    return recommended_ids[1:10]

In [239]:
def movieIdToTitle(listMovieIDs):
    movie_titles= []
    for id in listMovieIDs:
        movie_titles.append(movies.iloc[movieIdIndex[id]].title)
    return movie_titles

In [246]:
movieIdToTitle(recommendedMoviesAsperItemSimilarity(randomUser))

Int64Index([  29,  166,  117,  199,  217,  190,  194,  250,   11,  196,
            ...
            1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 3403],
           dtype='int64', length=3394)

['The World Is Not Enough',
 'Madagascar: Escape 2 Africa',
 'Total Recall',
 'Speed Racer',
 'R.I.P.D.',
 'Rio 2',
 "Ender's Game",
 'Quantum of Solace',
 'Fast Five']